trigger:
  branches:
    include:
      - main

variables:
  imageName: jsf-k8s-app
  tag: $(Build.BuildId)
  acrName: youracrname.azurecr.io

stages:
- stage: Build
  jobs:
  - job: BuildAndPush
    pool:
      vmImage: 'nodepool1'
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'acardogocr'
        repository: '$(imageName)'
        command: 'buildAndPush'
        Dockerfile: 'java/jsf/kubernetes/Application/Dockerfile'
        tags: |
          $(tag)

- stage: Deploy
  jobs:
  - job: DeployToAKS
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Kubernetes@1
      inputs:
        connectionType: 'Azure Resource Manager'
        azureSubscription: 'Azure subscription 1'
        azureResourceGroup: 'DefaultResourceGroup-EUS'
        kubernetesCluster: 'myAKSCluster'
        namespace: 'default'
        command: 'apply'
        useConfigurationFile: true
        configuration: '**/k8s/*.yaml'
